@using saglik.Models.About
@model About

<section class="hero-service" id="about" style="scroll-margin-top: 200px;">
    <div class="container">
        <div class="hero-content">
            <h1>@Model?.Title</h1>
            <p>@Model?.Description</p>
        </div>
    </div>
</section>